{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Support Portal</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'services/css/bootstrap.min.css' %}" rel="stylesheet">
     <!-- CSS for slidesjs.com example -->
  <link rel="stylesheet" href="{% static 'services/css/example.css' %}">
  <link rel="stylesheet" href="{% static 'services/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'services/css/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'services/css/note.css' %}">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static 'services/css/custom.css' %}" rel="stylesheet">


    <style>

</style>

</head>

<body>




    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li style="right">
                        <a href="#">{{ user.username }}</a>
                    </li>
                    <li style="right">
                        <form action="{% url 'logoutV' %}" method="post">
                            {% csrf_token %}
                        <button style="right" type="submit" class="btn-link">logout</button>
                            </form>
                    </li>


            </div>

        </div>

    </nav>


    <div class="jumbotron  feature1" id="Main_Content">
		<div class="container" >
            <img class="left"  style="float: left;padding: 0px 0px 0px 0px;" alt="" src="{% static 'services/img/Main/logo_b3.png' %}" >
			<img class="right"  style="float: right;padding: 0 0px 0px 0;" alt="" src="{% static 'services/img/Main/BHP_Billiton.png' %}" >
            <!--<h2 class="left" style="font-size: 50px; padding: 100px 0px 0px 0; line-height: 50px; text-align: left ">Support Portal</h2>-->
            <!--<h2 class="center" style="font-size: 36px; padding: 100px 0px 0px 0; line-height: 50px; text-align: center ">Support Portal</h2>-->


			</div>
	</div>

    <!-- Content -->
 <div class="container" >
<div class="row">
<article class="col-md-12">
<ul id="StickyNote">
    <li ><p class="text-center"><a href="{% url 'req' %}"><img class="img-responsive img-rounded center" src="{% static 'services/img/request.png' %}" alt=""  >Request Fulfillment</a></p>
    </li>
    <li><a href="Sysadmin.html"><img class="img-responsive img-rounded center" src="{% static 'services/img/System-Administration.png' %}" alt="" ><p class="text-center">System Administration </p></a>
    </li>
    <li ><a href="Proactive.html"><img class="img-responsive img-rounded center" src="{% static 'services/img/pro.png' %}" alt="" ><p class="text-center">Proactive Management</p></a>
    </li>
</ul>

</article>
</div>
</div>
    <!-- jQuery -->
    <script src="{% static 'services/js/jquery-1.11.3.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'services/js/bootstrap.min.js' %}"></script>

	<!-- IE10 viewport bug workaround -->
	<script src="{% static 'services/js/ie10-viewport-bug-workaround.js' %}"></script>

	<!-- Placeholder Images -->
	<script src="{% static 'services/js/holder.min.js' %}"></script>
	<script src="{% static 'services/js/jquery.slides.min.js' %}"></script>

<ul id=menuback  >
<li><input class="buttonbackmenu" type="button" value="Go back!" onclick="history.back()">

</ul>

</body>

</html>


