<!DOCTYPE html>
<html>
<head>

</head>
<body bgcolor="#E6E6FA">

<form action="{% url 'backuprun' %}" method="POST" class="form_class" >
    {% csrf_token %}
<label> Server: </label><br>
    {{form.server_name}}
    <br><br>

<label>IP: </label><br>
    {{form.server_ip}}
    <br><br>

<label>Group: </label><br>
    {{form.group}}
    <br><br>

<label> Client: </label><br>
    {{form.client}}
    <br><br>

    <button type="submit" name="submit_id" class="submit_f" >CHECK</button>
<br>
</input>
</form>
</body>
</html>